################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TMS/.vs
.vs/*
/bin/Debug/*